.score-list {
    position: absolute;
    top: 10px;
    left: 10px;
}

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.container {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

.hide {
    display: none;
}

button {
    display: inline-block;
}

.answer-btn {
    display: block;
}